<aside class="bd-aside sticky-xl-top text-muted align-self-start mb-3 mb-xl-5 px-2">
  <h2 class="h4 pt-4 pb-3 mb-4">Options</h2>
  <nav class="small" id="toc">
    <ul class="list-unstyled">
      <li class="my-2">
        <button class="btn d-inline-flex align-items-center collapsed" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#contents-collapse" aria-controls="contents-collapse">Catégories</button>
        <ul class="list-unstyled ps-3 collapse" id="contents-collapse">
          {% if categories is defined %}
            {% for categoryUnit in categories %}
          <li><a class="d-inline-flex align-items-center rounded" href="{{ path('category', {'category' : categoryUnit.category }) }}">{{ categoryUnit.category }}</a></li>
            {% endfor %}
          {% endif %}
        </ul>
      </li>
    </ul>
  </nav>
</aside>