{% extends 'base.html.twig' %}

{% block title %}Hello Blog!{% endblock %}

{% block body %}
<div class="bd-cheatsheet container-fluid bg-body" style="margin:auto">
  <section id="content">
    <h2 class="sticky-xl-top fw-bold pt-3 pt-xl-5 pb-2 pb-xl-3">Contents</h2>
    
    <article class="my-3" id="typography">
      <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
        <h3>Typography</h3>
        <a class="d-flex align-items-center" href="/docs/5.0/content/typography/">Documentation</a>
        <a href="{{ path('create_article') }}"><button class="btn-primary" style="margin-bottom: 10px">Creation</button></a>
      </div>
      
          
                  <div class="bd-example" style="background-color:lightgray; padding: 10px">
                    <h2 class="h2">Confirmation de suppression</h2>
                    {{ form(formDelete) }}
                  </div>
       
{% endblock %}
  